# Require the main class
require './answer'
# Require any modules you might need
require('./module.cat')

# Set up the payload
answer = Answer.new("module_name", "method_name", "username", "message", "channel_name")

# Output the result
puts answer.fact()
